/*глобальные стили*/
:root {
    --base-color: #BAEF00;
    --base-color-hover: #D9FF56;
    --base-color-active: #A3D200;
    --border-color: #E3E3E3;
    --placeholder-color: #8D8D8D;
    --black-color: #263238;
    --price-color: #6C6C6C;
    --transition-duration: .3s;
}

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black-color);
    background-color: #f5f5f5;
}

img {
    max-width: 100%;
    text-decoration: none;
}

/*компоненты*/

/*ссылка*/
.default-link {
    color: var(--black-color);
    text-decoration-line: underline;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.default-link:hover {
    color: var(--base-color-hover);
}

.default-link:focus-visible {
    outline: none;
    background-color: var(--base-color);
}

.default-link:active {
    color: var(--base-color-active);
}

/*кнопка*/
.default-btn {
    padding: 11px 47px;
    background-color: var(--base-color);
    color: var(--black-color);
    border-radius: 12px;
    border: none;
    outline: 1px solid transparent;
    outline-offset: 2px;
    cursor: pointer;
    transition: outline-color var(--transition-duration), background-color var(--transition-duration);
}

.default-btn:hover {
    background-color: var(--base-color-hover);
}

.default-btn:focus-visible {
    outline-color: var(--base-color);
}

.default-btn:active {
    background-color: var(--base-color-active);
}

/*текстовое поле*/
.text-field {
    padding: 11px 16px 11px 16px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    transition: border-color var(--transition-duration);
    outline: none;
}

.text-field::placeholder {
    color: var(--placeholder-color);
}

.text-field:focus {
    border-color: var(--base-color);
}

/*подзаголовок*/
.subtitle {
    text-align: center;
    margin: 0;
}

/*логотип*/
.logo {
    width: 154px;
    display: block;
}

/*меню*/
.menu__list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu__link {
    color: white;
    outline: none;
    text-decoration: none;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.menu__link:focus-visible {
    outline: none;
    background-color: var(--base-color);
    color: var(--black-color);
}

.menu__link:hover {
    color: var(--base-color-hover);
}

.menu__link:active {
    color: var(--base-color-active);
}

/*форма обратной связи*/
.callback-form {
    display: flex;
    gap: 16px;
}

.callback-form__inp {
    flex-basis: 288px;

}

/*карточка товара*/
.product-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.product-card__img {
    display: block;
    height: 180px;
    width: 100%;
    flex-shrink: 0;
    object-fit: contain;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.product-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 15px;
}

.product-card__body-top {
    margin-bottom: 22px;
}

.product-card__title {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 10px;
}

.product-card__price {
    font-size: 18px;
    color: var(--price-color);
    font-weight: 700;
}

.product-card__btn {
    width: 100%;
}

.product-card--big {
    position: relative;
    border: none;
    height: 350px;
}

.product-card__img--big {
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.product-card__body--big {
    position: absolute;
    align-items: flex-start;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 12px;
    color: white;
}

.product-card__price--big {
    color: white;
}

.product-card__btn--big {
    width: initial;
}

/*контейнер*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*шапка сайта*/
.header {
    background-color: var(--black-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    padding: 22px;
    background-color: var(--base-color);
    outline: none;
    transition: opacity var(--transition-duration), background-color var(--transition-duration);
}

.header__logo:hover {
    background-color: var(--base-color-hover);
}

.header__logo:focus-visible {
    opacity: .8;
}

.header__logo:active {
    background-color: var(--base-color-active);
}

/*hero*/
.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero__container::after {
    content: "";
    display: block;
    flex-basis: 470px;
    height: 375px;
    background-image: url(../img/hero.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__content {
    flex-basis: 484px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 34px;
}

.hero__descr {
    max-width: 360px;
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 20px;
}

/*форма обратной связи*/
.callback {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.callback::before {
    content: "";
    display: block;
    background-image: url(../img/callback-left.jpg);
    background-size: cover;
    background-position: center;
}

.callback__right {
    padding: 72px 50px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 1) 100%),
        url(../img/callback-right.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.callback__title {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.callback__descr {
    font-size: 20px;
    max-width: 424px;
    margin-top: 0;
    margin-bottom: 26px;
}

/*каталог*/
.catalog {
    padding: 80px 0;

}

.catalog__subtitle {
    margin-bottom: 60px;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    gap: 30px;
    list-style-type: none;
}

.catalog__item--big {
    grid-column: span 2;
}

.catalog__card {
    height: 100%;
}

/*футер*/
.footer {
    display: flex;
    justify-content: center;
    padding: 23px 15px;
    background-color: var(--border-color);
}

.footer__logo {
    opacity: 50%;
}

@media (max-width: 920px) {
    body {
        background-color: white;
    }

    .callback-form {
        flex-direction: column;
    }

    .callback-form__inp {
        flex-basis: initial;
    }

    .product-card__img {
        height: 90px;
    }

    .product-card__body {
        padding: 10px;
    }

    .product-card__body-top {
        margin-bottom: 22px;
    }

    .product-card__title {
        font-size: 14px;
    }

    .product-card__price {
        font-size: 14px;
    }

    .product-card__img--big {
        height: 100%;
    }

    .product-card__btn--big {
        width: 100%;
    }

    /*шапка сайта*/
    .header__container {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .header__logo {
        display: flex;
        justify-content: center;
    }

    .header__menu {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        width: 100%;
        overflow-x: scroll;
    }

    .header__menu--list {
        padding-left: 15px;
        padding-right: 15px;
        width: fit-content;
    }

    /*hero*/
    .hero__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hero__container::after {
        display: none;
    }

    .hero__title {
        font-size: 28px;
    }

    /*форма обратной связи*/
    .callback {
        display: block;
    }

    .callback__right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .callback::before {
        display: none;
    }

    /*каталог*/
    .catalog {
        padding: 40px 0;

    }

    .catalog__subtitle {
        margin-bottom: 30px;
    }

    .catalog__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .catalog__item--big {
        grid-column: span 2;
    }

    .catalog__card {
        height: 100%;
    }
}